---
- name: Getting Started First Playbook Extended
  hosts: localhost
  vars:
    test_var1: "Test variable value"
    test_var2: 12345
  tasks:
    - name: Print all variables
      become: true
      debug:
        var: hostvars[inventory_hostname]

    - name: Print test input value
      become: true
      debug:
        msg: "test_input set to {{ test_input }}"

    - name: Print secret value
      become: true
      debug:
        msg: "secret set to {{ secret }}"

    - name: Print co name value
      become: true
      debug:
        msg: "co_name set to {{ co_name }}"

    - name: Create local folder for downloads
      become: true
      file:
        path: "/opt/{{ test_input }}"
        state: directory
        mode: 0777

    - name: print to file
      become: true
      shell:
        cmd: echo "hello {{ secret }}" > "/opt/{{ test_input }}/{{ co_name }}.txt"
